.btn {
  background: transparent;
  border: 1px solid turquoise;
  padding: 7px 12px;
  cursor: pointer;
}

.btn:hover {
  background: turquoise;
  color: #fff;
}

.wesa {
  background: deeppink;
}

.b {
  background: rgb(75, 46, 131);
  background: rgb(124, 90, 205);
  background: rgb(246, 243, 255);
}
