@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #0d0d0d;
  --color-lantern: #61b08b;
}

.dark body {
  /* @apply bg-[#0b1220] text-slate-100; */
  @apply bg-[#000] text-slate-100;
}

/* FONTS */

@font-face {
  font-family: "Heading Font";
  src: url("./assets/Teko-Bold.ttf") format("truetype"); /* or, better, use .woff2 */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-heading {
  font-family: "Heading Font", system-ui, sans-serif;
}

/* FONTS */

.active {
  background: deeppink;
}
body {
  background: #eae9e9;
  background: #fafafa;
}

/* FIXME: tutorial */
/* button[disabled] {
  cursor: not-allowed;
} */
