@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* @custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *)); */

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #0d0d0d;
  --color-lantern: #61b08b;
}

.dark body {
  /* @apply bg-[#0b1220] text-slate-100; */
  @apply bg-[#000] text-white;
}

/* FONTS */

@font-face {
  font-family: "Heading Font";
  src: url("./assets/fonts/Teko-Bold.ttf") format("truetype"); /* or, better, use .woff2 */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-heading {
  font-family: "Heading Font", system-ui, sans-serif;
}

@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/abel.woff2") format("woff2"); /* or, better, use .woff2 */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-text {
  font-family: "Abel", system-ui, sans-serif;
}

/* FONTS */

.active {
  background: deeppink;
}
body {
  background: #eae9e9;
  background: #fafafa;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* Header Fonts */
/* .headline-gradient {
  background: linear-gradient(90deg, #61b08b 0%, #e9f6ef 50%, #f2716a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* Light/default */
.headline-gradient {
  background: linear-gradient(90deg, #2d7a5c 0%, #1f5f73 50%, #e04b44 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Dark */
.dark .headline-gradient {
  background: linear-gradient(90deg, #61b08b 0%, #e9f6ef 50%, #f2716a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Credibility  */

/* Featured Books */
.bs_item .fi_eye {
  transform: translateX(40px);
}

.bs_item:hover .fi_eye {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.bs_item .book_cta {
  transform: translate(-50%, 60px);
  opacity: 0;
}

.bs_item:hover .book_cta {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: all;
}

/* FIXME: tutorial */
/* button[disabled] {
  cursor: not-allowed;
} */
