.privacy_policy h1 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.privacy_policy h2 {
  font-weight: 800;
}

.privacy_policy p {
  font-size: 18px;
}
